{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
<h2 class="text-center">User Settings</h2>
<form method="post">
<div class='setting-option'><label>Option 1</label><input type='checkbox' name='opt1'></div>
<div class='setting-option'><label>Option 2</label><input type='checkbox' name='opt2'></div>
<div class='setting-option'><label>Option 3</label><input type='checkbox' name='opt3'></div>
<div class='setting-option'><label>Option 4</label><input type='checkbox' name='opt4'></div>
<div class='setting-option'><label>Option 5</label><input type='checkbox' name='opt5'></div>
<div class='setting-option'><label>Option 6</label><input type='checkbox' name='opt6'></div>
<div class='setting-option'><label>Option 7</label><input type='checkbox' name='opt7'></div>
<div class='setting-option'><label>Option 8</label><input type='checkbox' name='opt8'></div>
<div class='setting-option'><label>Option 9</label><input type='checkbox' name='opt9'></div>
<div class='setting-option'><label>Option 10</label><input type='checkbox' name='opt10'></div>
<div class='setting-option'><label>Option 11</label><input type='checkbox' name='opt11'></div>
<div class='setting-option'><label>Option 12</label><input type='checkbox' name='opt12'></div>
<div class='setting-option'><label>Option 13</label><input type='checkbox' name='opt13'></div>
<div class='setting-option'><label>Option 14</label><input type='checkbox' name='opt14'></div>
<div class='setting-option'><label>Option 15</label><input type='checkbox' name='opt15'></div>
<div class='setting-option'><label>Option 16</label><input type='checkbox' name='opt16'></div>
<div class='setting-option'><label>Option 17</label><input type='checkbox' name='opt17'></div>
<div class='setting-option'><label>Option 18</label><input type='checkbox' name='opt18'></div>
<div class='setting-option'><label>Option 19</label><input type='checkbox' name='opt19'></div>
<div class='setting-option'><label>Option 20</label><input type='checkbox' name='opt20'></div>
<div class='setting-option'><label>Option 21</label><input type='checkbox' name='opt21'></div>
<div class='setting-option'><label>Option 22</label><input type='checkbox' name='opt22'></div>
<div class='setting-option'><label>Option 23</label><input type='checkbox' name='opt23'></div>
<div class='setting-option'><label>Option 24</label><input type='checkbox' name='opt24'></div>
<div class='setting-option'><label>Option 25</label><input type='checkbox' name='opt25'></div>
<div class='setting-option'><label>Option 26</label><input type='checkbox' name='opt26'></div>
<div class='setting-option'><label>Option 27</label><input type='checkbox' name='opt27'></div>
<div class='setting-option'><label>Option 28</label><input type='checkbox' name='opt28'></div>
<div class='setting-option'><label>Option 29</label><input type='checkbox' name='opt29'></div>
<div class='setting-option'><label>Option 30</label><input type='checkbox' name='opt30'></div>
<div class='setting-option'><label>Option 31</label><input type='checkbox' name='opt31'></div>
<div class='setting-option'><label>Option 32</label><input type='checkbox' name='opt32'></div>
<div class='setting-option'><label>Option 33</label><input type='checkbox' name='opt33'></div>
<div class='setting-option'><label>Option 34</label><input type='checkbox' name='opt34'></div>
<div class='setting-option'><label>Option 35</label><input type='checkbox' name='opt35'></div>
<div class='setting-option'><label>Option 36</label><input type='checkbox' name='opt36'></div>
<div class='setting-option'><label>Option 37</label><input type='checkbox' name='opt37'></div>
<div class='setting-option'><label>Option 38</label><input type='checkbox' name='opt38'></div>
<div class='setting-option'><label>Option 39</label><input type='checkbox' name='opt39'></div>
<div class='setting-option'><label>Option 40</label><input type='checkbox' name='opt40'></div>
<div class='setting-option'><label>Option 41</label><input type='checkbox' name='opt41'></div>
<div class='setting-option'><label>Option 42</label><input type='checkbox' name='opt42'></div>
<div class='setting-option'><label>Option 43</label><input type='checkbox' name='opt43'></div>
<div class='setting-option'><label>Option 44</label><input type='checkbox' name='opt44'></div>
<div class='setting-option'><label>Option 45</label><input type='checkbox' name='opt45'></div>
<div class='setting-option'><label>Option 46</label><input type='checkbox' name='opt46'></div>
<div class='setting-option'><label>Option 47</label><input type='checkbox' name='opt47'></div>
<div class='setting-option'><label>Option 48</label><input type='checkbox' name='opt48'></div>
<div class='setting-option'><label>Option 49</label><input type='checkbox' name='opt49'></div>
<div class='setting-option'><label>Option 50</label><input type='checkbox' name='opt50'></div>
<div class='setting-option'><label>Option 51</label><input type='checkbox' name='opt51'></div>
<div class='setting-option'><label>Option 52</label><input type='checkbox' name='opt52'></div>
<div class='setting-option'><label>Option 53</label><input type='checkbox' name='opt53'></div>
<div class='setting-option'><label>Option 54</label><input type='checkbox' name='opt54'></div>
<div class='setting-option'><label>Option 55</label><input type='checkbox' name='opt55'></div>
<div class='setting-option'><label>Option 56</label><input type='checkbox' name='opt56'></div>
<div class='setting-option'><label>Option 57</label><input type='checkbox' name='opt57'></div>
<div class='setting-option'><label>Option 58</label><input type='checkbox' name='opt58'></div>
<div class='setting-option'><label>Option 59</label><input type='checkbox' name='opt59'></div>
<div class='setting-option'><label>Option 60</label><input type='checkbox' name='opt60'></div>
<div class='setting-option'><label>Option 61</label><input type='checkbox' name='opt61'></div>
<div class='setting-option'><label>Option 62</label><input type='checkbox' name='opt62'></div>
<div class='setting-option'><label>Option 63</label><input type='checkbox' name='opt63'></div>
<div class='setting-option'><label>Option 64</label><input type='checkbox' name='opt64'></div>
<div class='setting-option'><label>Option 65</label><input type='checkbox' name='opt65'></div>
<div class='setting-option'><label>Option 66</label><input type='checkbox' name='opt66'></div>
<div class='setting-option'><label>Option 67</label><input type='checkbox' name='opt67'></div>
<div class='setting-option'><label>Option 68</label><input type='checkbox' name='opt68'></div>
<div class='setting-option'><label>Option 69</label><input type='checkbox' name='opt69'></div>
<div class='setting-option'><label>Option 70</label><input type='checkbox' name='opt70'></div>
<div class='setting-option'><label>Option 71</label><input type='checkbox' name='opt71'></div>
<div class='setting-option'><label>Option 72</label><input type='checkbox' name='opt72'></div>
<div class='setting-option'><label>Option 73</label><input type='checkbox' name='opt73'></div>
<div class='setting-option'><label>Option 74</label><input type='checkbox' name='opt74'></div>
<div class='setting-option'><label>Option 75</label><input type='checkbox' name='opt75'></div>
<div class='setting-option'><label>Option 76</label><input type='checkbox' name='opt76'></div>
<div class='setting-option'><label>Option 77</label><input type='checkbox' name='opt77'></div>
<div class='setting-option'><label>Option 78</label><input type='checkbox' name='opt78'></div>
<div class='setting-option'><label>Option 79</label><input type='checkbox' name='opt79'></div>
<div class='setting-option'><label>Option 80</label><input type='checkbox' name='opt80'></div>
<div class='setting-option'><label>Option 81</label><input type='checkbox' name='opt81'></div>
<div class='setting-option'><label>Option 82</label><input type='checkbox' name='opt82'></div>
<div class='setting-option'><label>Option 83</label><input type='checkbox' name='opt83'></div>
<div class='setting-option'><label>Option 84</label><input type='checkbox' name='opt84'></div>
<div class='setting-option'><label>Option 85</label><input type='checkbox' name='opt85'></div>
<div class='setting-option'><label>Option 86</label><input type='checkbox' name='opt86'></div>
<div class='setting-option'><label>Option 87</label><input type='checkbox' name='opt87'></div>
<div class='setting-option'><label>Option 88</label><input type='checkbox' name='opt88'></div>
<div class='setting-option'><label>Option 89</label><input type='checkbox' name='opt89'></div>
<div class='setting-option'><label>Option 90</label><input type='checkbox' name='opt90'></div>
<div class='setting-option'><label>Option 91</label><input type='checkbox' name='opt91'></div>
<div class='setting-option'><label>Option 92</label><input type='checkbox' name='opt92'></div>
<div class='setting-option'><label>Option 93</label><input type='checkbox' name='opt93'></div>
<div class='setting-option'><label>Option 94</label><input type='checkbox' name='opt94'></div>
<div class='setting-option'><label>Option 95</label><input type='checkbox' name='opt95'></div>
<div class='setting-option'><label>Option 96</label><input type='checkbox' name='opt96'></div>
<div class='setting-option'><label>Option 97</label><input type='checkbox' name='opt97'></div>
<div class='setting-option'><label>Option 98</label><input type='checkbox' name='opt98'></div>
<div class='setting-option'><label>Option 99</label><input type='checkbox' name='opt99'></div>
<div class='setting-option'><label>Option 100</label><input type='checkbox' name='opt100'></div>
<div class='setting-option'><label>Option 101</label><input type='checkbox' name='opt101'></div>
<div class='setting-option'><label>Option 102</label><input type='checkbox' name='opt102'></div>
<div class='setting-option'><label>Option 103</label><input type='checkbox' name='opt103'></div>
<div class='setting-option'><label>Option 104</label><input type='checkbox' name='opt104'></div>
<div class='setting-option'><label>Option 105</label><input type='checkbox' name='opt105'></div>
<div class='setting-option'><label>Option 106</label><input type='checkbox' name='opt106'></div>
<div class='setting-option'><label>Option 107</label><input type='checkbox' name='opt107'></div>
<div class='setting-option'><label>Option 108</label><input type='checkbox' name='opt108'></div>
<div class='setting-option'><label>Option 109</label><input type='checkbox' name='opt109'></div>
<div class='setting-option'><label>Option 110</label><input type='checkbox' name='opt110'></div>
<div class='setting-option'><label>Option 111</label><input type='checkbox' name='opt111'></div>
<div class='setting-option'><label>Option 112</label><input type='checkbox' name='opt112'></div>
<div class='setting-option'><label>Option 113</label><input type='checkbox' name='opt113'></div>
<div class='setting-option'><label>Option 114</label><input type='checkbox' name='opt114'></div>
<div class='setting-option'><label>Option 115</label><input type='checkbox' name='opt115'></div>
<div class='setting-option'><label>Option 116</label><input type='checkbox' name='opt116'></div>
<div class='setting-option'><label>Option 117</label><input type='checkbox' name='opt117'></div>
<div class='setting-option'><label>Option 118</label><input type='checkbox' name='opt118'></div>
<div class='setting-option'><label>Option 119</label><input type='checkbox' name='opt119'></div>
<div class='setting-option'><label>Option 120</label><input type='checkbox' name='opt120'></div>
<div class='setting-option'><label>Option 121</label><input type='checkbox' name='opt121'></div>
<div class='setting-option'><label>Option 122</label><input type='checkbox' name='opt122'></div>
<div class='setting-option'><label>Option 123</label><input type='checkbox' name='opt123'></div>
<div class='setting-option'><label>Option 124</label><input type='checkbox' name='opt124'></div>
<div class='setting-option'><label>Option 125</label><input type='checkbox' name='opt125'></div>
<div class='setting-option'><label>Option 126</label><input type='checkbox' name='opt126'></div>
<div class='setting-option'><label>Option 127</label><input type='checkbox' name='opt127'></div>
<div class='setting-option'><label>Option 128</label><input type='checkbox' name='opt128'></div>
<div class='setting-option'><label>Option 129</label><input type='checkbox' name='opt129'></div>
<div class='setting-option'><label>Option 130</label><input type='checkbox' name='opt130'></div>
<div class='setting-option'><label>Option 131</label><input type='checkbox' name='opt131'></div>
<div class='setting-option'><label>Option 132</label><input type='checkbox' name='opt132'></div>
<div class='setting-option'><label>Option 133</label><input type='checkbox' name='opt133'></div>
<div class='setting-option'><label>Option 134</label><input type='checkbox' name='opt134'></div>
<div class='setting-option'><label>Option 135</label><input type='checkbox' name='opt135'></div>
<div class='setting-option'><label>Option 136</label><input type='checkbox' name='opt136'></div>
<div class='setting-option'><label>Option 137</label><input type='checkbox' name='opt137'></div>
<div class='setting-option'><label>Option 138</label><input type='checkbox' name='opt138'></div>
<div class='setting-option'><label>Option 139</label><input type='checkbox' name='opt139'></div>
<div class='setting-option'><label>Option 140</label><input type='checkbox' name='opt140'></div>
<div class='setting-option'><label>Option 141</label><input type='checkbox' name='opt141'></div>
<div class='setting-option'><label>Option 142</label><input type='checkbox' name='opt142'></div>
<div class='setting-option'><label>Option 143</label><input type='checkbox' name='opt143'></div>
<div class='setting-option'><label>Option 144</label><input type='checkbox' name='opt144'></div>
<div class='setting-option'><label>Option 145</label><input type='checkbox' name='opt145'></div>
<div class='setting-option'><label>Option 146</label><input type='checkbox' name='opt146'></div>
<div class='setting-option'><label>Option 147</label><input type='checkbox' name='opt147'></div>
<div class='setting-option'><label>Option 148</label><input type='checkbox' name='opt148'></div>
<div class='setting-option'><label>Option 149</label><input type='checkbox' name='opt149'></div>
<div class='setting-option'><label>Option 150</label><input type='checkbox' name='opt150'></div>
<div class='setting-option'><label>Option 151</label><input type='checkbox' name='opt151'></div>
<div class='setting-option'><label>Option 152</label><input type='checkbox' name='opt152'></div>
<div class='setting-option'><label>Option 153</label><input type='checkbox' name='opt153'></div>
<div class='setting-option'><label>Option 154</label><input type='checkbox' name='opt154'></div>
<div class='setting-option'><label>Option 155</label><input type='checkbox' name='opt155'></div>
<div class='setting-option'><label>Option 156</label><input type='checkbox' name='opt156'></div>
<div class='setting-option'><label>Option 157</label><input type='checkbox' name='opt157'></div>
<div class='setting-option'><label>Option 158</label><input type='checkbox' name='opt158'></div>
<div class='setting-option'><label>Option 159</label><input type='checkbox' name='opt159'></div>
<div class='setting-option'><label>Option 160</label><input type='checkbox' name='opt160'></div>
<div class='setting-option'><label>Option 161</label><input type='checkbox' name='opt161'></div>
<div class='setting-option'><label>Option 162</label><input type='checkbox' name='opt162'></div>
<div class='setting-option'><label>Option 163</label><input type='checkbox' name='opt163'></div>
<div class='setting-option'><label>Option 164</label><input type='checkbox' name='opt164'></div>
<div class='setting-option'><label>Option 165</label><input type='checkbox' name='opt165'></div>
<div class='setting-option'><label>Option 166</label><input type='checkbox' name='opt166'></div>
<div class='setting-option'><label>Option 167</label><input type='checkbox' name='opt167'></div>
<div class='setting-option'><label>Option 168</label><input type='checkbox' name='opt168'></div>
<div class='setting-option'><label>Option 169</label><input type='checkbox' name='opt169'></div>
<div class='setting-option'><label>Option 170</label><input type='checkbox' name='opt170'></div>
<div class='setting-option'><label>Option 171</label><input type='checkbox' name='opt171'></div>
<div class='setting-option'><label>Option 172</label><input type='checkbox' name='opt172'></div>
<div class='setting-option'><label>Option 173</label><input type='checkbox' name='opt173'></div>
<div class='setting-option'><label>Option 174</label><input type='checkbox' name='opt174'></div>
<div class='setting-option'><label>Option 175</label><input type='checkbox' name='opt175'></div>
<div class='setting-option'><label>Option 176</label><input type='checkbox' name='opt176'></div>
<div class='setting-option'><label>Option 177</label><input type='checkbox' name='opt177'></div>
<div class='setting-option'><label>Option 178</label><input type='checkbox' name='opt178'></div>
<div class='setting-option'><label>Option 179</label><input type='checkbox' name='opt179'></div>
<div class='setting-option'><label>Option 180</label><input type='checkbox' name='opt180'></div>
<div class='setting-option'><label>Option 181</label><input type='checkbox' name='opt181'></div>
<div class='setting-option'><label>Option 182</label><input type='checkbox' name='opt182'></div>
<div class='setting-option'><label>Option 183</label><input type='checkbox' name='opt183'></div>
<div class='setting-option'><label>Option 184</label><input type='checkbox' name='opt184'></div>
<div class='setting-option'><label>Option 185</label><input type='checkbox' name='opt185'></div>
<div class='setting-option'><label>Option 186</label><input type='checkbox' name='opt186'></div>
<div class='setting-option'><label>Option 187</label><input type='checkbox' name='opt187'></div>
<div class='setting-option'><label>Option 188</label><input type='checkbox' name='opt188'></div>
<div class='setting-option'><label>Option 189</label><input type='checkbox' name='opt189'></div>
<div class='setting-option'><label>Option 190</label><input type='checkbox' name='opt190'></div>
<div class='setting-option'><label>Option 191</label><input type='checkbox' name='opt191'></div>
<div class='setting-option'><label>Option 192</label><input type='checkbox' name='opt192'></div>
<div class='setting-option'><label>Option 193</label><input type='checkbox' name='opt193'></div>
<div class='setting-option'><label>Option 194</label><input type='checkbox' name='opt194'></div>
<div class='setting-option'><label>Option 195</label><input type='checkbox' name='opt195'></div>
<div class='setting-option'><label>Option 196</label><input type='checkbox' name='opt196'></div>
<div class='setting-option'><label>Option 197</label><input type='checkbox' name='opt197'></div>
<div class='setting-option'><label>Option 198</label><input type='checkbox' name='opt198'></div>
<div class='setting-option'><label>Option 199</label><input type='checkbox' name='opt199'></div>
<div class='setting-option'><label>Option 200</label><input type='checkbox' name='opt200'></div>
<div class='setting-option'><label>Option 201</label><input type='checkbox' name='opt201'></div>
<div class='setting-option'><label>Option 202</label><input type='checkbox' name='opt202'></div>
<div class='setting-option'><label>Option 203</label><input type='checkbox' name='opt203'></div>
<div class='setting-option'><label>Option 204</label><input type='checkbox' name='opt204'></div>
<div class='setting-option'><label>Option 205</label><input type='checkbox' name='opt205'></div>
<div class='setting-option'><label>Option 206</label><input type='checkbox' name='opt206'></div>
<div class='setting-option'><label>Option 207</label><input type='checkbox' name='opt207'></div>
<div class='setting-option'><label>Option 208</label><input type='checkbox' name='opt208'></div>
<div class='setting-option'><label>Option 209</label><input type='checkbox' name='opt209'></div>
<div class='setting-option'><label>Option 210</label><input type='checkbox' name='opt210'></div>
<div class='setting-option'><label>Option 211</label><input type='checkbox' name='opt211'></div>
<div class='setting-option'><label>Option 212</label><input type='checkbox' name='opt212'></div>
<div class='setting-option'><label>Option 213</label><input type='checkbox' name='opt213'></div>
<div class='setting-option'><label>Option 214</label><input type='checkbox' name='opt214'></div>
<div class='setting-option'><label>Option 215</label><input type='checkbox' name='opt215'></div>
<div class='setting-option'><label>Option 216</label><input type='checkbox' name='opt216'></div>
<div class='setting-option'><label>Option 217</label><input type='checkbox' name='opt217'></div>
<div class='setting-option'><label>Option 218</label><input type='checkbox' name='opt218'></div>
<div class='setting-option'><label>Option 219</label><input type='checkbox' name='opt219'></div>
<div class='setting-option'><label>Option 220</label><input type='checkbox' name='opt220'></div>
<div class='setting-option'><label>Option 221</label><input type='checkbox' name='opt221'></div>
<div class='setting-option'><label>Option 222</label><input type='checkbox' name='opt222'></div>
<div class='setting-option'><label>Option 223</label><input type='checkbox' name='opt223'></div>
<div class='setting-option'><label>Option 224</label><input type='checkbox' name='opt224'></div>
<div class='setting-option'><label>Option 225</label><input type='checkbox' name='opt225'></div>
<div class='setting-option'><label>Option 226</label><input type='checkbox' name='opt226'></div>
<div class='setting-option'><label>Option 227</label><input type='checkbox' name='opt227'></div>
<div class='setting-option'><label>Option 228</label><input type='checkbox' name='opt228'></div>
<div class='setting-option'><label>Option 229</label><input type='checkbox' name='opt229'></div>
<div class='setting-option'><label>Option 230</label><input type='checkbox' name='opt230'></div>
<div class='setting-option'><label>Option 231</label><input type='checkbox' name='opt231'></div>
<div class='setting-option'><label>Option 232</label><input type='checkbox' name='opt232'></div>
<div class='setting-option'><label>Option 233</label><input type='checkbox' name='opt233'></div>
<div class='setting-option'><label>Option 234</label><input type='checkbox' name='opt234'></div>
<div class='setting-option'><label>Option 235</label><input type='checkbox' name='opt235'></div>
<div class='setting-option'><label>Option 236</label><input type='checkbox' name='opt236'></div>
<div class='setting-option'><label>Option 237</label><input type='checkbox' name='opt237'></div>
<div class='setting-option'><label>Option 238</label><input type='checkbox' name='opt238'></div>
<div class='setting-option'><label>Option 239</label><input type='checkbox' name='opt239'></div>
<div class='setting-option'><label>Option 240</label><input type='checkbox' name='opt240'></div>
<div class='setting-option'><label>Option 241</label><input type='checkbox' name='opt241'></div>
<div class='setting-option'><label>Option 242</label><input type='checkbox' name='opt242'></div>
<div class='setting-option'><label>Option 243</label><input type='checkbox' name='opt243'></div>
<div class='setting-option'><label>Option 244</label><input type='checkbox' name='opt244'></div>
<div class='setting-option'><label>Option 245</label><input type='checkbox' name='opt245'></div>
<div class='setting-option'><label>Option 246</label><input type='checkbox' name='opt246'></div>
<div class='setting-option'><label>Option 247</label><input type='checkbox' name='opt247'></div>
<div class='setting-option'><label>Option 248</label><input type='checkbox' name='opt248'></div>
<div class='setting-option'><label>Option 249</label><input type='checkbox' name='opt249'></div>
<div class='setting-option'><label>Option 250</label><input type='checkbox' name='opt250'></div>
<div class='setting-option'><label>Option 251</label><input type='checkbox' name='opt251'></div>
<div class='setting-option'><label>Option 252</label><input type='checkbox' name='opt252'></div>
<div class='setting-option'><label>Option 253</label><input type='checkbox' name='opt253'></div>
<div class='setting-option'><label>Option 254</label><input type='checkbox' name='opt254'></div>
<div class='setting-option'><label>Option 255</label><input type='checkbox' name='opt255'></div>
<div class='setting-option'><label>Option 256</label><input type='checkbox' name='opt256'></div>
<div class='setting-option'><label>Option 257</label><input type='checkbox' name='opt257'></div>
<div class='setting-option'><label>Option 258</label><input type='checkbox' name='opt258'></div>
<div class='setting-option'><label>Option 259</label><input type='checkbox' name='opt259'></div>
<div class='setting-option'><label>Option 260</label><input type='checkbox' name='opt260'></div>
<div class='setting-option'><label>Option 261</label><input type='checkbox' name='opt261'></div>
<div class='setting-option'><label>Option 262</label><input type='checkbox' name='opt262'></div>
<div class='setting-option'><label>Option 263</label><input type='checkbox' name='opt263'></div>
<div class='setting-option'><label>Option 264</label><input type='checkbox' name='opt264'></div>
<div class='setting-option'><label>Option 265</label><input type='checkbox' name='opt265'></div>
<div class='setting-option'><label>Option 266</label><input type='checkbox' name='opt266'></div>
<div class='setting-option'><label>Option 267</label><input type='checkbox' name='opt267'></div>
<div class='setting-option'><label>Option 268</label><input type='checkbox' name='opt268'></div>
<div class='setting-option'><label>Option 269</label><input type='checkbox' name='opt269'></div>
<div class='setting-option'><label>Option 270</label><input type='checkbox' name='opt270'></div>
<div class='setting-option'><label>Option 271</label><input type='checkbox' name='opt271'></div>
<div class='setting-option'><label>Option 272</label><input type='checkbox' name='opt272'></div>
<div class='setting-option'><label>Option 273</label><input type='checkbox' name='opt273'></div>
<div class='setting-option'><label>Option 274</label><input type='checkbox' name='opt274'></div>
<div class='setting-option'><label>Option 275</label><input type='checkbox' name='opt275'></div>
<div class='setting-option'><label>Option 276</label><input type='checkbox' name='opt276'></div>
<div class='setting-option'><label>Option 277</label><input type='checkbox' name='opt277'></div>
<div class='setting-option'><label>Option 278</label><input type='checkbox' name='opt278'></div>
<div class='setting-option'><label>Option 279</label><input type='checkbox' name='opt279'></div>
<div class='setting-option'><label>Option 280</label><input type='checkbox' name='opt280'></div>
<div class='setting-option'><label>Option 281</label><input type='checkbox' name='opt281'></div>
<div class='setting-option'><label>Option 282</label><input type='checkbox' name='opt282'></div>
<div class='setting-option'><label>Option 283</label><input type='checkbox' name='opt283'></div>
<div class='setting-option'><label>Option 284</label><input type='checkbox' name='opt284'></div>
<div class='setting-option'><label>Option 285</label><input type='checkbox' name='opt285'></div>
<div class='setting-option'><label>Option 286</label><input type='checkbox' name='opt286'></div>
<div class='setting-option'><label>Option 287</label><input type='checkbox' name='opt287'></div>
<div class='setting-option'><label>Option 288</label><input type='checkbox' name='opt288'></div>
<div class='setting-option'><label>Option 289</label><input type='checkbox' name='opt289'></div>
<div class='setting-option'><label>Option 290</label><input type='checkbox' name='opt290'></div>
<div class='setting-option'><label>Option 291</label><input type='checkbox' name='opt291'></div>
<div class='setting-option'><label>Option 292</label><input type='checkbox' name='opt292'></div>
<div class='setting-option'><label>Option 293</label><input type='checkbox' name='opt293'></div>
<div class='setting-option'><label>Option 294</label><input type='checkbox' name='opt294'></div>
<div class='setting-option'><label>Option 295</label><input type='checkbox' name='opt295'></div>
<div class='setting-option'><label>Option 296</label><input type='checkbox' name='opt296'></div>
<div class='setting-option'><label>Option 297</label><input type='checkbox' name='opt297'></div>
<div class='setting-option'><label>Option 298</label><input type='checkbox' name='opt298'></div>
<div class='setting-option'><label>Option 299</label><input type='checkbox' name='opt299'></div>
<div class='setting-option'><label>Option 300</label><input type='checkbox' name='opt300'></div>
<div class='setting-option'><label>Option 301</label><input type='checkbox' name='opt301'></div>
<div class='setting-option'><label>Option 302</label><input type='checkbox' name='opt302'></div>
<div class='setting-option'><label>Option 303</label><input type='checkbox' name='opt303'></div>
<div class='setting-option'><label>Option 304</label><input type='checkbox' name='opt304'></div>
<div class='setting-option'><label>Option 305</label><input type='checkbox' name='opt305'></div>
<div class='setting-option'><label>Option 306</label><input type='checkbox' name='opt306'></div>
<div class='setting-option'><label>Option 307</label><input type='checkbox' name='opt307'></div>
<div class='setting-option'><label>Option 308</label><input type='checkbox' name='opt308'></div>
<div class='setting-option'><label>Option 309</label><input type='checkbox' name='opt309'></div>
<div class='setting-option'><label>Option 310</label><input type='checkbox' name='opt310'></div>
<div class='setting-option'><label>Option 311</label><input type='checkbox' name='opt311'></div>
<div class='setting-option'><label>Option 312</label><input type='checkbox' name='opt312'></div>
<div class='setting-option'><label>Option 313</label><input type='checkbox' name='opt313'></div>
<div class='setting-option'><label>Option 314</label><input type='checkbox' name='opt314'></div>
<div class='setting-option'><label>Option 315</label><input type='checkbox' name='opt315'></div>
<div class='setting-option'><label>Option 316</label><input type='checkbox' name='opt316'></div>
<div class='setting-option'><label>Option 317</label><input type='checkbox' name='opt317'></div>
<div class='setting-option'><label>Option 318</label><input type='checkbox' name='opt318'></div>
<div class='setting-option'><label>Option 319</label><input type='checkbox' name='opt319'></div>
<div class='setting-option'><label>Option 320</label><input type='checkbox' name='opt320'></div>
<div class='setting-option'><label>Option 321</label><input type='checkbox' name='opt321'></div>
<div class='setting-option'><label>Option 322</label><input type='checkbox' name='opt322'></div>
<div class='setting-option'><label>Option 323</label><input type='checkbox' name='opt323'></div>
<div class='setting-option'><label>Option 324</label><input type='checkbox' name='opt324'></div>
<div class='setting-option'><label>Option 325</label><input type='checkbox' name='opt325'></div>
<div class='setting-option'><label>Option 326</label><input type='checkbox' name='opt326'></div>
<div class='setting-option'><label>Option 327</label><input type='checkbox' name='opt327'></div>
<div class='setting-option'><label>Option 328</label><input type='checkbox' name='opt328'></div>
<div class='setting-option'><label>Option 329</label><input type='checkbox' name='opt329'></div>
<div class='setting-option'><label>Option 330</label><input type='checkbox' name='opt330'></div>
<div class='setting-option'><label>Option 331</label><input type='checkbox' name='opt331'></div>
<div class='setting-option'><label>Option 332</label><input type='checkbox' name='opt332'></div>
<div class='setting-option'><label>Option 333</label><input type='checkbox' name='opt333'></div>
<div class='setting-option'><label>Option 334</label><input type='checkbox' name='opt334'></div>
<div class='setting-option'><label>Option 335</label><input type='checkbox' name='opt335'></div>
<div class='setting-option'><label>Option 336</label><input type='checkbox' name='opt336'></div>
<div class='setting-option'><label>Option 337</label><input type='checkbox' name='opt337'></div>
<div class='setting-option'><label>Option 338</label><input type='checkbox' name='opt338'></div>
<div class='setting-option'><label>Option 339</label><input type='checkbox' name='opt339'></div>
<div class='setting-option'><label>Option 340</label><input type='checkbox' name='opt340'></div>
<div class='setting-option'><label>Option 341</label><input type='checkbox' name='opt341'></div>
<div class='setting-option'><label>Option 342</label><input type='checkbox' name='opt342'></div>
<div class='setting-option'><label>Option 343</label><input type='checkbox' name='opt343'></div>
<div class='setting-option'><label>Option 344</label><input type='checkbox' name='opt344'></div>
<div class='setting-option'><label>Option 345</label><input type='checkbox' name='opt345'></div>
<div class='setting-option'><label>Option 346</label><input type='checkbox' name='opt346'></div>
<div class='setting-option'><label>Option 347</label><input type='checkbox' name='opt347'></div>
<div class='setting-option'><label>Option 348</label><input type='checkbox' name='opt348'></div>
<div class='setting-option'><label>Option 349</label><input type='checkbox' name='opt349'></div>
<div class='setting-option'><label>Option 350</label><input type='checkbox' name='opt350'></div>
<div class='setting-option'><label>Option 351</label><input type='checkbox' name='opt351'></div>
<div class='setting-option'><label>Option 352</label><input type='checkbox' name='opt352'></div>
<div class='setting-option'><label>Option 353</label><input type='checkbox' name='opt353'></div>
<div class='setting-option'><label>Option 354</label><input type='checkbox' name='opt354'></div>
<div class='setting-option'><label>Option 355</label><input type='checkbox' name='opt355'></div>
<div class='setting-option'><label>Option 356</label><input type='checkbox' name='opt356'></div>
<div class='setting-option'><label>Option 357</label><input type='checkbox' name='opt357'></div>
<div class='setting-option'><label>Option 358</label><input type='checkbox' name='opt358'></div>
<div class='setting-option'><label>Option 359</label><input type='checkbox' name='opt359'></div>
<div class='setting-option'><label>Option 360</label><input type='checkbox' name='opt360'></div>
<div class='setting-option'><label>Option 361</label><input type='checkbox' name='opt361'></div>
<div class='setting-option'><label>Option 362</label><input type='checkbox' name='opt362'></div>
<div class='setting-option'><label>Option 363</label><input type='checkbox' name='opt363'></div>
<div class='setting-option'><label>Option 364</label><input type='checkbox' name='opt364'></div>
<div class='setting-option'><label>Option 365</label><input type='checkbox' name='opt365'></div>
<div class='setting-option'><label>Option 366</label><input type='checkbox' name='opt366'></div>
<div class='setting-option'><label>Option 367</label><input type='checkbox' name='opt367'></div>
<div class='setting-option'><label>Option 368</label><input type='checkbox' name='opt368'></div>
<div class='setting-option'><label>Option 369</label><input type='checkbox' name='opt369'></div>
<div class='setting-option'><label>Option 370</label><input type='checkbox' name='opt370'></div>
<div class='setting-option'><label>Option 371</label><input type='checkbox' name='opt371'></div>
<div class='setting-option'><label>Option 372</label><input type='checkbox' name='opt372'></div>
<div class='setting-option'><label>Option 373</label><input type='checkbox' name='opt373'></div>
<div class='setting-option'><label>Option 374</label><input type='checkbox' name='opt374'></div>
<div class='setting-option'><label>Option 375</label><input type='checkbox' name='opt375'></div>
<div class='setting-option'><label>Option 376</label><input type='checkbox' name='opt376'></div>
<div class='setting-option'><label>Option 377</label><input type='checkbox' name='opt377'></div>
<div class='setting-option'><label>Option 378</label><input type='checkbox' name='opt378'></div>
<div class='setting-option'><label>Option 379</label><input type='checkbox' name='opt379'></div>
<div class='setting-option'><label>Option 380</label><input type='checkbox' name='opt380'></div>
<div class='setting-option'><label>Option 381</label><input type='checkbox' name='opt381'></div>
<div class='setting-option'><label>Option 382</label><input type='checkbox' name='opt382'></div>
<div class='setting-option'><label>Option 383</label><input type='checkbox' name='opt383'></div>
<div class='setting-option'><label>Option 384</label><input type='checkbox' name='opt384'></div>
<div class='setting-option'><label>Option 385</label><input type='checkbox' name='opt385'></div>
<div class='setting-option'><label>Option 386</label><input type='checkbox' name='opt386'></div>
<div class='setting-option'><label>Option 387</label><input type='checkbox' name='opt387'></div>
<div class='setting-option'><label>Option 388</label><input type='checkbox' name='opt388'></div>
<div class='setting-option'><label>Option 389</label><input type='checkbox' name='opt389'></div>
<div class='setting-option'><label>Option 390</label><input type='checkbox' name='opt390'></div>
<div class='setting-option'><label>Option 391</label><input type='checkbox' name='opt391'></div>
<div class='setting-option'><label>Option 392</label><input type='checkbox' name='opt392'></div>
<div class='setting-option'><label>Option 393</label><input type='checkbox' name='opt393'></div>
<div class='setting-option'><label>Option 394</label><input type='checkbox' name='opt394'></div>
<div class='setting-option'><label>Option 395</label><input type='checkbox' name='opt395'></div>
<div class='setting-option'><label>Option 396</label><input type='checkbox' name='opt396'></div>
<div class='setting-option'><label>Option 397</label><input type='checkbox' name='opt397'></div>
<div class='setting-option'><label>Option 398</label><input type='checkbox' name='opt398'></div>
<div class='setting-option'><label>Option 399</label><input type='checkbox' name='opt399'></div>
<div class='setting-option'><label>Option 400</label><input type='checkbox' name='opt400'></div>
<button type="submit" class="btn btn-primary">Save Settings</button>
</form>
{% endblock %}
